* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(26, 32, 44);
  color: rgba(255, 255, 255, 0.92);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  padding: 35px 15px;
  font-family: 'Inter', sans-serif;
  line-height: 1.4em;
}

#app {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: block;
}

.pangetan {
  color: rgba(255, 255, 255, 0.92);
  padding: 20px;
  text-align: center;
  border-radius: 4px;

  &.sande {
    background-color: #c84b31;
  }

  &.sukses {
    background-color: #18978f;
  }

  svg {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }

  &.wangsulan {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px;

    p {
      max-width: unset;
    }
  }
}

span.wigatos {
  color: #c84b31;
}

.papan {
  background-color: #ecdbba;
  color: rgb(45, 55, 72);
  padding: 15px;
  border-radius: 4px;

  h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
  }

  p.katrangan {
    line-height: 1.3em;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 15px;
  }

  form {
    max-width: 100%;
    position: relative;

    textarea[name='gineman'] {
      font-family: 'Inter', sans-serif;
      width: 100%;
      display: block;
      padding: 12px;
      box-sizing: border-box;
      word-break: break-word;
      resize: none;
      height: 80px;
      margin-bottom: 8px;
      font-size: 15px;
      border-radius: 2.5px;
      outline: none;
      border-color: transparent;
      box-shadow: transparent 0px 0px 0px 1px;
      transition: 0.2s;

      &:focus {
        border-color: rgb(99, 179, 237);
        box-shadow: rgb(99, 179, 237) 0px 0px 0px 1px;
      }

      &:disabled {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }

    small {
      display: flex;
      gap: 5px;
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.3em;
    }

    button.kintun {
      border-color: transparent;
      outline: none;
      box-shadow: none;
      background-color: rgb(45, 55, 72);
      color: #fff;
      padding: 10px 13px;
      font-size: 15px;
      display: block;
      border-radius: 4px;
      margin: 0;
      margin-left: auto;
      cursor: pointer;
      border: 1px solid transparent;
      box-shadow: transparent 0px 0px 0px 1px;

      &:hover {
        background-color: rgba(45, 55, 72, 0.9);
        border-color: rgb(99, 179, 237);
        box-shadow: rgb(99, 179, 237) 0px 0px 0px 1px;
      }
    }
  }
}

.pangangge {
  margin-top: 30px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .pesen {
    background-color: #2d3748;
    border-radius: 4px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    p.unek-unek {
      line-height: 1.3em;
      padding: 14px;
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      small {
        font-size: 10px;
        margin-top: 8px;
        margin-bottom: 5px;
        display: block;
        color: rgba(255, 255, 255, 0.75);
        line-height: 1em;
      }
    }

    form.wangsuli {
      padding: 0 14px 14px;
      font-size: 15px;
      display: block;
      position: relative;

      input[name='wangsuli'] {
        font-family: 'Inter', sans-serif;
        width: 100%;
        display: block;
        padding: 12px;
        box-sizing: border-box;
        word-break: break-word;
        font-size: 15px;
        outline: none;
        border-color: transparent;
        box-shadow: none;
        transition: 0.2s;
        padding-right: 82px;
        border-radius: 4px;
      }

      button.kintun {
        position: absolute;
        top: 0;
        right: 14px;
        border: 1px solid transparent;
        outline: none;
        box-shadow: transparent 0px 0px 0px 1px;
        background-color: rgb(45, 55, 72);
        color: #fff;
        padding: 7px 12px;
        border-radius: 2.5px;
        margin: 7px 12px;
        font-size: 13px;
        display: block;
        cursor: pointer;

        &:hover {
          background-color: rgba(45, 55, 72, 0.9);
          border-color: rgb(99, 179, 237);
          box-shadow: rgb(99, 179, 237) 0px 0px 0px 1px;
        }
      }
    }

    ul.lare {
      list-style: none;
      padding: 0 15px 5px;

      li {
        background-color: rgba(0, 0, 0, 0.2);
        margin: 10px 0;
        padding: 10px;
        border-radius: 2.5px;
        position: relative;
        font-size: 14px;

        &.gadhah {
          padding-top: 42px;

          &:before {
            content: 'Suluh';
            font-weight: 500;
            background: #ecdbba;
            color: #2d3748;
            font-size: 13px;
            position: absolute;
            top: 10px;
            padding: 2px 8px;
            border-radius: 2.5px;
          }

          &:first-child {
            margin-top: 0;
          }
        }

        small {
          font-size: 10px;
          margin-top: 8px;
          margin-bottom: 5px;
          display: block;
          color: rgba(255, 255, 255, 0.75);
          line-height: 1em;
        }
      }
    }
  }
}
